<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Class:</strong>
  <%= @profile.class %>
</p>

<p>
  <strong>Background:</strong>
  <%= @profile.background %>
</p>

<p>
  <strong>Dci:</strong>
  <%= @profile.dci %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @profile.exp %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @profile.alignment %>
</p>

<p>
  <strong>Race:</strong>
  <%= @profile.race %>
</p>

<p>
  <strong>Char name:</strong>
  <%= @profile.char_name %>
</p>

<p>
  <strong>Inspire:</strong>
  <%= @profile.inspire %>
</p>

<p>
  <strong>Prof bonus:</strong>
  <%= @profile.prof_bonus %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @profile.ac %>
</p>

<p>
  <strong>Init:</strong>
  <%= @profile.init %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @profile.speed %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @profile.hp %>
</p>

<p>
  <strong>Temp hp:</strong>
  <%= @profile.temp_hp %>
</p>

<p>
  <strong>Hit die:</strong>
  <%= @profile.hit_die %>
</p>

<p>
  <strong>Deathsave s:</strong>
  <%= @profile.deathsave_s %>
</p>

<p>
  <strong>Deathsave f:</strong>
  <%= @profile.deathsave_f %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @profile.skills %>
</p>

<p>
  <strong>Stats:</strong>
  <%= @profile.stats %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @profile.personality %>
</p>

<p>
  <strong>Ideals:</strong>
  <%= @profile.ideals %>
</p>

<p>
  <strong>Bonds:</strong>
  <%= @profile.bonds %>
</p>

<p>
  <strong>Flaws:</strong>
  <%= @profile.flaws %>
</p>

<p>
  <strong>Faction:</strong>
  <%= @profile.faction %>
</p>

<p>
  <strong>Spells:</strong>
  <%= @profile.spells %>
</p>

<p>
  <strong>Attacks:</strong>
  <%= @profile.attacks %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @profile.inventory %>
</p>

<p>
  <strong>Profs:</strong>
  <%= @profile.profs %>
</p>

<p>
  <strong>Langs:</strong>
  <%= @profile.langs %>
</p>

<p>
  <strong>Features:</strong>
  <%= @profile.features %>
</p>

<p>
  <strong>Traits:</strong>
  <%= @profile.traits %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @profile.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @profile.weight %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @profile.eyes %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @profile.skin %>
</p>

<p>
  <strong>Hair:</strong>
  <%= @profile.hair %>
</p>

<p>
  <strong>Backstory:</strong>
  <%= @profile.backstory %>
</p>

<p>
  <strong>Total ncm:</strong>
  <%= @profile.total_ncm %>
</p>

<p>
  <strong>Treasure:</strong>
  <%= @profile.treasure %>
</p>

<p>
  <strong>Pass wisdom:</strong>
  <%= @profile.pass_wisdom %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
