<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @damage_type.name %>
</p>

<p>
  <strong>Mod:</strong>
  <%= @damage_type.mod %>
</p>

<%= link_to 'Edit', edit_damage_type_path(@damage_type) %> |
<%= link_to 'Back', damage_types_path %>
