<p id="notice"><%= notice %></p>

<h1>Purses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Cp</th>
      <th>Sp</th>
      <th>Ep</th>
      <th>Gp</th>
      <th>Pp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purses.each do |purse| %>
      <tr>
        <td><%= purse.user %></td>
        <td><%= purse.cp %></td>
        <td><%= purse.sp %></td>
        <td><%= purse.ep %></td>
        <td><%= purse.gp %></td>
        <td><%= purse.pp %></td>
        <td><%= link_to 'Show', purse %></td>
        <td><%= link_to 'Edit', edit_purse_path(purse) %></td>
        <td><%= link_to 'Destroy', purse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purse', new_purse_path %>
