<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @purse.user %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @purse.cp %>
</p>

<p>
  <strong>Sp:</strong>
  <%= @purse.sp %>
</p>

<p>
  <strong>Ep:</strong>
  <%= @purse.ep %>
</p>

<p>
  <strong>Gp:</strong>
  <%= @purse.gp %>
</p>

<p>
  <strong>Pp:</strong>
  <%= @purse.pp %>
</p>

<%= link_to 'Edit', edit_purse_path(@purse) %> |
<%= link_to 'Back', purses_path %>
