<%= form_with(model: spell_school, local: true) do |form| %>
  <% if spell_school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spell_school.errors.count, "error") %> prohibited this spell_school from being saved:</h2>

      <ul>
      <% spell_school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
