<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spell_school.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @spell_school.desc %>
</p>

<%= link_to 'Edit', edit_spell_school_path(@spell_school) %> |
<%= link_to 'Back', spell_schools_path %>
