<%= form_with(model: treasure, local: true) do |form| %>
  <% if treasure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(treasure.errors.count, "error") %> prohibited this treasure from being saved:</h2>

      <ul>
      <% treasure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :items_id %>
    <%= form.text_field :items_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
